<%= form_with model: @genre do |f| %>
  <div class="genre-index_add">
    <%= f.text_field :genre_name ,class: "genre-index_add_input" %>
    <div class="genre-index_add_button_flex">
    <%= f.submit  '保存' ,class: "genre-index_add_button" %>
    </div>
  </div>
<% end %>