<div class="nested-fields">
    <%= f.collection_select :genre_id, Genre.all, :id, :genre_name ,:include_blank => "選択してください",class: "address-selec" %>
    <%= link_to_remove_association '削除', f, class: 'btn btn-danger' %>
</div>