<div class="l-main_container flex">
  <article class="m-article">
    <div class="m-title_flex">
      <h2 class="m-title">マイレシピ一覧</h2>
    </div>
      <%= render 'posts/index' ,posts: @posts %>
  </article>
</div>