<div class="l-main_container flex">
  <aside class="m-side">
    <ul class="m-side_list">
      <span class="m-side_title">作った日</span>
      <li class="m-side_list_item">
        <a class="m-side_list_item_anchor" href="">2021/10/11</a>
      </li>
      <li class="m-side_list_item">
        <a class="m-side_list_item_anchor" href="">2021/10/12</a>
      </li>
      <li class="m-side_list_item">
        <a class="m-side_list_item_anchor" href="">2021/10/23</a>
      </li>
      <li class="m-side_list_item">
        <a class="m-side_list_item_anchor" href="">2021/12/11</a>
      </li>
        <a class="m-side_list_item_anchor_other" href="">もっと見る</a>
    </ul>
  </aside>
  <article class="m-article">
    <div class="m-title_flex">
      <h2 class="m-title"></h2>
    </div>

    <div class="cooking-show_column">
      <div class="cooking-show_column_image">


      </div>
      <div class="cooking-show_column_contents">
        <p class="cooking-show_column_contents_explanation">
          この料理はーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーな料理です
        </p>
        <table class="cooking-show_column_contents_spices">

            <tr>
              <td class="cooking-show_column_contents_spices_name">醤油醤油醤油醤油醤油醤油醤油醤油醤油醤油醤油醤油</td>
              <td class="cooking-show_column_contents_spices_quantity">小さじ１杯</td>
            </tr>
            <tr>
              <td class="cooking-show_column_contents_spices_name">醤油</td>
              <td class="cooking-show_column_contents_spices_quantity">小さじ１杯</td>
            </tr>

        </table>
      </div>
    </div>

    <div class="cooking-show_process">
      <h3 class="m-title_section">手順</h3>
      <ul class="cooking-show_process_list">
        <li class="cooking-show_process_list_item">
          <span class="cooking-show_process_list_item_number">1</span>
          <p class="cooking-show_process_list_item_text">
            玉ねぎをみじん切りに切る1玉ねぎをみじん切りに切る1玉ねぎをみじん切りに切る
          </p>
          <div class="cooking-show_process_list_item_image">
          <img src="assets/image/product-image-01_pc.png" alt=""/>
          </div>
        </li>
        <li class="cooking-show_process_list_item">
          <span class="cooking-show_process_list_item_number">51</span>
          <p class="cooking-show_process_list_item_text">
            玉ねぎをみじん切りに切る1玉ねぎをみじん切りに切る
          </p>
          <div class="cooking-show_process_list_item_image">
          <img src="assets/image/product-image-01_pc.png" alt=""/>
          </div>
        </li>

      </ul>
    </div>

    <div class="cooking-show_comment">
      <h3 class="m-title_section">コメント</h3>
      <div class="cooking-show_comment_column">
        <textarea name="" id="" cols="40" rows="5"></textarea>
        <input type="submit">
      </div>

      <ul class="cooking-show_comment_list">
        <li class="cooking-show_comment_list_item">
          <p class="cooking-show_comment_list_item_text">このレシピはこの上なく最高なできです。一生食べて生きていきたいと思えます。</p>
          <span class="cooking-show_comment_list_item_user">田中たろう</span>
        </li>
        <li class="cooking-show_comment_list_item">
          <p class="cooking-show_comment_list_item_text">このレシピはこの上なく最高なできです。一生食べて生きていきたいと思えます。あなたも食べてみてくださいさいああああ</p>
          <span class="cooking-show_comment_list_item_user">田中たろう</span>
        </li>
        <li class="cooking-show_comment_list_item">
          <p class="cooking-show_comment_list_item_text">このレシピはこの上なく最高なできです。一生食べて生きていきたいと思えます。あなたも食べてみてください</p>
          <span class="cooking-show_comment_list_item_user">田中たろう</span>
        </li>
      </ul>
    </div>
  </article>
</div>