$sp-size: 767;
@mixin media($device) {
  @if $device== "pc" {
    @media print, screen and (min-width: 768px) {
      @content;
    }
    // } @else if $device== "tb" {
    //   @media print, screen and (max-width: 1440px) and (min-width: 768px) {
    //     @content;
    //   }
  } @else if $device== "sp" {
    @media screen and (max-width: 767px) {
      @content;
    }
  }
}
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {


  &:visited {

  }

  &:hover {
    color: #fff;

  }
}



th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.fc-sun/* 日曜日 */ {
  color: red;
  background: rgb(255, 240, 240);;
}

.fc-sat  /* 土曜日 */{
  color: blue;
  background: rgb(240, 240, 255);
}

.fc-today  /* 今日 */{
        background-color: rgb(230, 255, 230)!important;
}

.fc-content{
  color: #333;
  background-color: sandybrown;
  border-color: yellow;
}

.fc-body{
 cursor: pointer;
}
.fc-day-header{
  @include media(pc) {
    padding: 10px 0!important;
  }

  @include media(tb) {
  }

  @include media(sp) {
    padding: calc(5 / #{$sp-size} * 100vw)!important;
  }
}

.fc-view, .fc-view > table{
  z-index: 0!important;
}