<div class="search_container">
  <% if user_signed_in? %>
      <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag 'content' %>
        <%= select_tag 'model', options_for_select({ "料理" => "cooking", "自分のレシピ" => "post" }) %>
        <%= submit_tag '検索' %>
      <% end %>
  <% end %>
</div>