<footer class="l-footer">
  <small class="l-footer_copy">©recipe record</small>
</footer>
<% if user_signed_in? %>
  <%= link_to new_contact_path do %>
    <div class="l-footer_contact">
      <span class="l-footer_contact_text">
        <i class="far fa-envelope"></i>
      </span>
    </div>
  <% end %>
<% end %>
<div class="top-btn">
  <span class="top-btn_text"><i class="fas fa-angle-double-up"></i></span>
</div>